@import url(https://fonts.googleapis.com/css?family=Roboto+Condensed:400,300,700);
@import url(https://fonts.googleapis.com/css?family=Alegreya+Sans:400,700&subset=latin,vietnamese,latin-ext);
@import url(https://fonts.googleapis.com/css?family=Lato:400,300,700);




#dropdown-menu-2btn-0 .hide-buttons [data-button] {
  display: none !important;
}
#dropdown-menu-2btn-0 .nav .link,
#dropdown-menu-2btn-0 .dropdown-item {
  font-size: 1.2em;
  color: #ffffff;
}
#dropdown-menu-2btn-0 .navbar,
#dropdown-menu-2btn-0 .dropdown-menu {
  background: #484646;
}
#dropdown-menu-2btn-0 .dropdown-menu .dropdown-toggle[aria-expanded="true"],
#dropdown-menu-2btn-0 .dropdown-menu a:hover,
#dropdown-menu-2btn-0 .dropdown-menu a:focus {
  background: #3e3c3c;
}
#dropdown-menu-2btn-0 .navbar-toggler {
  color: #ffffff;
}
#header2-3 H1 {
  font-size: 48px;
  color: #ffffff;
}
#header2-3 B {
  color: #ffffff;
  font-family: 'Roboto Condensed', sans-serif;
}
#header2-3 P {
  color: #ffffff;
  font-size: 20px;
  font-family: 'Alegreya Sans', sans-serif;
}
#features1-8 P {
  text-align: center;
}
#features1-a P {
  text-align: center;
}
#social-buttons2-c .mbr-section-title {
  text-align: right;
}
#contacts2-4 P {
  font-size: 18px;
  font-family: 'Alegreya Sans', sans-serif;
}
#contacts2-4 STRONG {
  font-family: 'Lato', sans-serif;
  font-size: 23px;
  color: #f2f2f2;
}
